@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.nav {
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;

    &__wrapper {
        display: flex;
    }

    &__logo {
        height: 30px;
        margin-block-start: 1rem;
    }

    &__menu {
        display: flex;
        list-style-type: none;
    }

    &__links {
        color: $active-text;
        margin-left: 1rem;
        font-weight: 300;
        font-size: 14px;
    }

    &__search-icon {
        height: 2rem;
    }

    &__search-focused {
        display: none;
        
    }
}